body
  font-family: 'Varela'
  color: #555555

//Global
.stylized
  font-family: 'Dancing-Script-Regular','sans-serif'

.bold-stylized
  font-family: 'Montserrat','sans-serif'

.section-header
  text-transform: uppercase
  text-align: center

.section-spacer
  width: 100px
  border-top: 5px solid #ef5350
  margin: 15px auto 20px

.no-gutter
  padding-left: 0
  padding-right: 0

#cover
  position: relative
  .top-section
    height: 50vh
    .item-1
      float: left
      width: 40%
      height: inherit
      background-color: white
      .content-container
        padding-left: 15px
        padding-right: 15px
        position: relative
        top: 50%
        transform: translateY(-50%)
        max-width: 90%
        min-width: 90%
        margin: 0 auto
        .content-description
          font-size: 16px
          line-height: 30px
          margin: 30px 0
        .content-button
          border: 2px solid #555555
          padding: 20px 50px
          display: inline-block
          color: #555555
          border-radius: 20px
          text-transform: uppercase
          letter-spacing: 5px
          text-decoration: none
    .item-container
      height: inherit
      position: relative
      &.item-2
        float: left
        width: 30%
        .item
          cursor: pointer
          background-repeat: no-repeat
          height: inherit
          transition: all 300ms ease-in-out
          &.style-2
            background-size: 50%
            background-position: center 50px
          &.style-3
            background-size: 90%
            background-position: center center
        .caption
          display: none
          position: absolute
          top: 50%
          transform: translateY(-50%)
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
          text-align: center
          .caption-button
            display: inline-block
            text-decoration: none
      &.active
        .item
          opacity: 0.5
        .caption
          display: block
          .caption-button
            background-color: white
            color: #555555
            padding: 20px 50px


  .bottom-section
    height: 50vh
    .item-container
      height: inherit
      position: relative
      &.item-3
        float: left
        width: 25%
        .item
          transition: all 300ms ease-in-out
          background-repeat: no-repeat
          height: inherit
          &.style-2
            background-size: 50%
            background-position: center bottom
          &.style-3
            background-size: 90%
            background-position: center center
        .caption
          display: none
          position: absolute
          top: 50%
          transform: translateY(-50%)
          margin-left: auto
          margin-right: auto
          left: 0
          right: 0
          text-align: center
          .caption-button
            display: inline-block
            text-decoration: none
      &.active
        .item
          opacity: 0.5
        .caption
          display: block
          .caption-button
            background-color: white
            color: #555555
            padding: 20px 50px

