<div class="container-fluid no-gutter">
    <div class="border-event-top clearfix">
        <div class="col-md-6 col-sm-12">
            <div class="parent-bride ">
                <h2>Parent of The bride</h2>
                <h1><span>Mr + Mrs Dometita</span></h1>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 center-border">
            <div class="parent-bride">
                <h2>Parent of The Groom</h2>
                <h1><span>Mr + Mrs Chug</span></h1>
            </div>
        </div>
    </div>


    <div class="col-lg-12 section-quotes">
        <h2 class="share-event">Once in a while, right in the middle of an ordinary life, love gives us a fairytale.</h2>
    </div>

    <div class="couple-info-section clearfix">
        <div class="col-md-6 col-sm-6 common-border">
            <div class="bride-section text-center">
                <img class="center-block img-circle img-responsive" src="/img/asset/bride.jpg" alt="">

                <h4>The Bride</h4>
                <h1>Josan Astrid Dometita</h1>

                <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="groom-section text-center">
                <img class="center-block img-circle img-responsive" src="/img/asset/groom.jpg" alt="">

                <h4>The Groom</h4>
                <h1>Bryan Carl Chug</h1>

                <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
        </div>

    </div>

    <div class="center-icon">
        <img src="/img/asset/church.png" class="church-image"/>
    </div>

    <div class="venue-container center-up-icon clearfix">
        <div class="col-md-6 col-sm-12">
            <div class="ceremony-section venue">
                <h2>Ceremony</h2>
                <ul>
                    <li><b>Sunday / May - 22  - 2016 / 2:00 pm</b></li>
                    <li><b>Palazzo Verde</b></li>
                    <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 center-border">
            <div class="venue-section venue">
                <h2>Reception</h2>
                <ul>
                    <li><b>Sunday / May - 22  - 2016 / 3:00 pm</b></li>
                    <li><b>Palazzo Verde</b></li>
                    <li><b>Daang Reyna, Vista City, Las Piñas, Philippines</b></li>
                </ul>
            </div>
        </div>
    </div>

</div>