<div class="container-fluid no-gutter">
    <div class="top-section">
        <div class="item-1">
            <div class="content-container">
                <h1 class="content-header">Need a wedding website?</h1>
                <p class="content-description">We build beautiful wedding websites fast. Share your personality and take
                    care of your guests. We use
                    templates of your choice and customize your website to your content.</p>
                <a class="content-button" href="#">Get Started</a>
            </div>
        </div>
        {% for item in site.data.webpage limit: 2 %}
        <div class="item-container item-{{ item.item-id }}">
            <div class="item style-{{ item.style-id }} no-gutter" data-url="https://crux-wedding.github.io/wedding-template{{ item.url-id }}" style="background-image: url('/img/{{ item.image }}'); background-color: #{{ item.background-color }};"></div>
            <div class="caption hidden-md hidden-sm hidden-xs">
                <a href="https://crux-wedding.github.io/wedding-template{{ item.url-id }}" target="_blank" class="caption-button">PREVIEW</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bottom-section">
        {% for item in site.data.webpage offset: 2 %}
        <div class="item-container item-{{ item.item-id }}">
            <div class="item style-{{ item.style-id }} no-gutter" data-url="https://crux-wedding.github.io/wedding-template{{ item.url-id }}" style="background-color: #{{ item.background-color }}; background-image: url('/img/{{ item.image }}');"></div>
            <div class="caption hidden-md hidden-sm hidden-xs">
                <a href="https://crux-wedding.github.io/wedding-template{{ item.url-id }}" target="_blank" class="caption-button">PREVIEW</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>