<div class="container-fluid ">
    <h2 class="section-header">Venue</h2>
    <div class="row">
        <div id="map"></div>
    </div>
</div>

<div id="venue-image-container" class="container no-gutter">
    <div class="col-md-8 col-sm-8 col-xs-12 no-gutter">
        <div class="venue-image venue-large padding-large" style="background-image: url('/img/bg-image/venue-image-1.jpg');"></div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 no-gutter">
        <div class="venue-image venue-small padding-small" style="background-image: url('/img/bg-image/venue-image-3.jpg');"></div>
        <div class="venue-image venue-small padding-small" style="background-color: #ff5252">
            <div class="text-content">
                <h2 class="venue-header">Palazzo Verde</h2>
            </div>
        </div>
        <div class="venue-image venue-small padding-small" style="background-image: url('/img/bg-image/venue-image-2.jpg');"></div>
    </div>
</div>
